.product {
    overflow: hidden;
}

.produkt-thumb {
    position: relative;
}

.produkt-text {
    padding: 63px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.produkt-overlay {
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.produkt-thumb::before {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pcarts:hover .produkt-thumb::before {
    transform: translateY(0);
}
/*
.bg-hero {
    background: var(--bg-herro);
    max-width: 480px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1x.jpg);
    background-repeat: no-repeat;
     background-position: center;
    background-size: cover;
    }

*/
.h-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.button-primary:hover,
.button-primary:focus {
    background-color: var(--button-activ);
    color: var(--primary-white-color);
}

.button-primary {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    padding: 10px 32px;
    margin: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.h-title {
@media screen and (min-width: 320px) {
        font-weight: 900;
            font-size: 24px;
            line-height: 1.62;
            letter-spacing: .06em;
            text-transform: uppercase;
            color: var(--primary-white-color);
            text-align: center;
            max-width: 360px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
    
}
@media screen and (min-width: 480px) {
    text-align: center;
    max-width: 796px;
    margin-top: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
font-weight: 900;
font-size: 26px;
line-height: 1.62;
letter-spacing: .06em;
text-transform: uppercase;
color: var(--primary-white-color);
text-align: center;
max-width: 360px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

@media screen and (min-width: 1200px) {
    
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
}
}

.bg-hero{ 
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx){
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-2x.jpg);
}

@media screen and (min-width: 768px){ 
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) { 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-1x.jpg);
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-hero-1x.jpg);
}
@media screen and (min-width: 1200px) {
    max-width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-hero-2x.jpg);
}
}




.title {
    margin-bottom: 10px;
}
.bg-hero {
    text-align: center;

}

/* section bg-herro*/

.overlay {
 @media screen and (min-width: 320px){
            max-width: 480px;
            text-align: center;
            padding-top: 118px;
            padding-bottom: 118px;
            margin: 0 auto;
            background-color: #c4c4c4;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-hero-1x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }
@media screen and (min-width: 480px) {
    min-width: 100%;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-hero-1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
@media screen and (min-width: 780px) {
    min-width: 100%;
    text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        margin: 0 auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-hero-2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
@media screen and (min-width: 1200px) {
max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
@media screen and (min-width: 1600px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}