.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.client-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.client-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.icon-Logo-1 {
    width: 106px;
    height: 60px;
}

.icon-Logo-2 {
    width: 106px;
    height: 60px;
}

.icon-Logo-3 {
    width: 106px;
    height: 60px;
}

.icon-Logo-4 {
    width: 106px;
    height: 60px;

}

.icon-Logo-5 {
    width: 106px;
    height: 60px;
}

.icon-Logo {
    width: 106px;
    height: 60px;
}