
header>.header-containe {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
@media screen and (max-width: 480px) {
.header-containe {
display: none;
}
}

@media screen and (min-width: 480px) {
.header-containe {
    max-width: 480px;
  }
}

 @media screen and (min-width: 767px){ 
  .header-containe {
    max-width: 768px;
 }
}

 @media screen and (min-width: 1200px) {
    .header-containe {
    max-width: 1200px;
    display: flex;
   
    }
}


.container {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;

  @media screen and (min-width: 320px) {
      .container {
        max-width: 320px;
      }
    }

  @media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    }
  }
  @media screen and (min-width: 767px) {
  .container {
    max-width: 767px;
    }
  }
  @media screen and (min-width: 1200px){  
   .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   }
    
  }
 }
