.our-describe {
    @media screen and(min-width:480px) {
    padding-top: 60px;
    padding-bottom: 60px;
    }

    @media screen and(min-width: 768px) {

    }

    @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
}
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.skills .title {
    @media screen and(min-width:480px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    text-align: center;
}
 @media screen and(min-width: 768px) {

 }

 @media screen and(min-width: 1200px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
 }
}

.skills .skil {
    @media screen and(min-width:480px) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 30px;
    }

    @media screen and(min-width: 768px) {

    }

    @media screen and(min-width: 1200px) {

    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
}
.list-skills {
    @media screen and(min-width:480px) {
    }

    @media screen and(min-width: 768px) {

    }
    
    @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px)) / 4;
    max-width: 270px;
}
}

.box {
    
    @media screen and(min-width:480px) {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 480px;
    height: 120px;
    background-color: #F5F4FA;
    border: 1px solid white;
    border-radius: 4px;
    
    }
    
    @media screen and(min-width: 768px) {

    }
    
    @media screen and(min-width: 1200px) {
    display: flex;
    margin-bottom: 30px;
    width: 1200px;
    height: 120px;
    background-color: #F5F4FA;
    border: 1px solid white;
    border-radius: 4px;
    background-size: border-box;
    align-items: center;
    justify-content: center;
}
}

.skills {
    @media screen and(min-width:480px) {

    }
    @media screen and(min-width: 768px) {

    }
    @media screen and(min-width: 1200px) {
    display: flex;
    gap: 30px;
}
}

.list-skills {
    display: block;
    justify-content: space-between;
}

.icon-antenna-1 {
    width: 70px;
    height: 70px;
    align-items: center;
}

.box>.icon {
    @media screen and(min-width:480px) {
         display: flex;
         margin-left: auto;
         margin-right: auto;
    }
    @media screen and(min-width: 768px) {

    }
    
    @media screen and(min-width: 1200px) {
    display: flex;
    background-repeat: no-repeat;
    gap: 30px;
    align-items: center;
}
}

.icon-clock-1 {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.icon-diagram-1 {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.icon-astronaut-1 {
    width: 70px;
    height: 70px;
    cursor: pointer;
}
/*
.overlay {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
*/