.team {
    background: var(--bg-team);
}
.team {
    @media screen and (min-width: 320px) {
    padding-top: 60px;
        padding-bottom: 60px;
    }
@media screen and (min-width: 320px) and (min-width: 480px) {
padding-top: 60px;
padding-bottom: 60px;
}
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}
.team-title:focus,
.team-title {
    @media screen and (min-width: 320px) and (min-width: 480px) {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: .03em;
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
}

.carts {
    @media screen and (min-width: 320px){
    display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
@media screen and (min-width: 320px) and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
@media screen and (min-width: 768px){ 
    flex-basis: calc((100% - 30px)/2);
}

@media screen and (min-width: 1200px) {
     width: 1200px;
     display: flex;
     justify-content: center;
     gap: 30px;
     flex-wrap: nowrap;
    
     }
}



.person {
@media screen and (min-width: 480px) {


}
@media screen and (min-width: 768px) {
flex-basis: calc((100% - 30px)/2);
justify-content: center;
    }
}
/*
@media screen and (min-width: 1200px) {
width: 100%;
text-align: center;
} 
*/

.namec {
    @media screen and (min-width: 320px) {
    width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
@media screen and (min-width: 480px) {
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
    }
@media screen and (min-width: 768px) {
.namec {
flex-basis: calc((100% - 30px)/2);
text-align: center;
    }
}
 @media screen and (min-width: 1200px) {
     width: 100%;
    text-align: center;
 }
}

.person-work {
    margin-top: 10px;
}
.person {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.icons-cart-list {
    @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: center;
                }
                
        }
    
        @media screen and (min-width: 768px) {
            .icons-cart-list {
                display: flex;
                    justify-content: center;
                }
            }
        
    
        @media screen and (min-width: 480px) {
            .icons-cart-list {
                display: flex;
                justify-content: center;
                align-items: center;
                }
        }
                 @media screen and (min-width: 320px) {
                     .icons-cart-list {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                     }
                 }
    
    
 
.icon-listc {
    display: flex;
    fill: #AFB1B8;
        height: 44px;
            width: 44px;
            margin-right: 10px;
        

}

.icons-link:hover,
.icons-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}
.icons-link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: #AFB1B8;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon .icon-instagram-2 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-content: center;
    vertical-align: middle;
    color: #AFB1B8;
}

.icon-twitter-1 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-content: center;
    vertical-align: middle;
    color: #AFB1B8;
}

.icon-facebook-1 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-content: center;
    vertical-align: middle;
    color: #AFB1B8;
}

.icon-linkedin-1 {
    width: 20px;
    height: 20px;
    background-image: url("./images/icon-linkedin-1.svg");
    cursor: pointer;
    align-content: center;
    vertical-align: middle;
    color: #AFB1B8;
}