:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --font-family: "Roboto", sans-serif;
    --bg-herro: #2f303a;
    --bg-team: #f5f4fa;
    --button-activ: #188ce8;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}